{% extends "base.html" %}
{% load static wagtailcore_tags wagtailcharts_tags %}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1>{{self.title}}</h1>
            </div>
        </div>
        {% for block in self.specific.body %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endblock content %}


{% block extra_js %}
{% render_charts %}
{% endblock %}

